* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  width: 400px;
  height: 400px;
  border: 0.1px white solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.image {
  width: 380px;
  height: 200px;
}
.text {
  color: grey;
  font-size: 16px;
}
.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.userdetail {
  display: flex;
  width: 40%;
  justify-content: start;
  gap: 12px;
  align-items: center;
}
.title {
  font-size: 24px;
  font-weight: 600;
}
.cont {
  width: 70vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
.header {
  font-size: 32px;
  font-weight: 700;
}
.all {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  background-color: black;
  color: white;
}
.page {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}
.type {
  color: blue;
  font-size: 18px;
}
.search {
  width: 20%;
  padding: 8px;
  font-size: 16px;
}
.contt {
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: black;
  color: white;
  height: 100vh;
  padding-top: 36px;
}
.infoo {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 10px;
  gap: 24px;
}
.pics {
  height: 300px;
  width: 680px;
  border-radius: 24px;
}
.des {
  font-size: 24px;
  font-weight: 500;
}
.picture {
  width: 24px;
  border-radius: 50%;
  border: 0.1px white solid;
}
.count {
  font-size: 20px;
}
.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: black;
}
.create {
  height: fit-content;
  padding: 6px;
  border-color: white;
  background-color: black;
  color: white;
  border-radius: 6px;
}
.createpost {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  height: 500px;
}
.titleinput {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: white 1px solid;
}
.contentinput {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: white 1px solid;
}
.createinput {
  outline: none;
  border: none;
  font-size: 36px;
  width: 100%;
  background-color: black;
  color: white;
}
.valid {
  color: red;
  font-size: 24px;
}
